<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonnabe.asset.mapper.ConsumptionTransactionsMapper">

    <!-- 월별 거래내역 조회 -->
    <select id="getMonthlyTransactions" resultType="TransactionDTO">
        SELECT
            merchant_name AS transactionName,
            transaction_date AS transactionDate,
            transaction_time AS transactionTime,
            card_name AS accountName,
            amount
        FROM Card_Transactions
        WHERE user_id = #{userId}
          AND DATE_FORMAT(transaction_date, '%Y-%m') = #{yearMonth}
        ORDER BY transaction_date DESC, transaction_time DESC
    </select>

    <!-- 월별 카테고리 상세 거래 내역 -->
    <select id="getTransactionsByCategory" resultType="TransactionDTO">
        SELECT
            merchant_name AS transactionName,
            transaction_date AS transactionDate,
            transaction_time AS transactionTime,
            card_name AS accountName,
            amount
        FROM Card_Transactions
        WHERE user_id = #{userId}
          AND merchant_category = #{category}
          AND DATE_FORMAT(transaction_date, '%Y-%m') = #{yearMonth}
        ORDER BY transaction_date DESC, transaction_time DESC
    </select>




    <!-- 오늘의 거래 내역 -->
    <select id="getTodayTransactions" resultType="TransactionDTO">
        SELECT
            merchant_name AS transactionName,
            transaction_date AS transactionDate,
            transaction_time AS transactionTime,
            card_name AS accountName,
            amount
        FROM Card_Transactions
        WHERE user_id = #{userId}
          AND transaction_date = #{today}
        ORDER BY transaction_time DESC
    </select>

    <!-- 오늘 소비 카테고리별 상세 거래 내역 조회 -->
    <select id="getTodayTransactionsByCategory" resultType="com.wonnabe.asset.dto.TransactionDTO">
        SELECT
            merchant_name AS transactionName,
            transaction_date AS transactionDate,
            DATE_FORMAT(transaction_time, '%H:%i') AS transactionTime,
            card_name AS accountName,
            amount
        FROM Card_Transactions
        WHERE user_id = #{userId}
          AND transaction_date = #{today}
          AND merchant_category = #{category.value}
        ORDER BY transaction_time DESC
    </select>

</mapper>
