<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonnabe.asset.mapper.SummariesCacheMapper">

    <!-- 월별 총 소비금액 -->
    <select id="getMonthlyTotalConsumption" resultType="double">
        SELECT IFNULL(SUM(amount), 0)
        FROM Summaries_Cache
        WHERE period_type = 'monthly'
          AND yearMonth = #{yearMonth}
          AND user_id = #{userId}
    </select>

    <!-- 카테고리별 월별 소비 합계 -->
    <select id="getMonthlyCategorySummary" parameterType="map" resultType="com.wonnabe.asset.dto.CategorySummaryDTO">
        SELECT
            curr.consumption_category AS consumptionCategory,
            IFNULL(SUM(curr.amount), 0) AS amount,
            -- 지난달 대비 증감액 계산
            (IFNULL(SUM(curr.amount), 0) - IFNULL(SUM(prev.amount), 0)) AS diffFromLastMonth
        FROM Summaries_Cache curr
                 LEFT JOIN Summaries_Cache prev
                           ON prev.consumption_category = curr.consumption_category
                               AND prev.period_type = 'monthly'
                               AND prev.user_id = curr.user_id
                               AND prev.yearMonth = DATE_FORMAT(DATE_SUB(CONCAT(#{yearMonth}, '-01'), INTERVAL 1 MONTH), '%Y-%m')
        WHERE curr.period_type = 'monthly'
          AND curr.yearMonth = #{yearMonth}
          AND curr.user_id = #{userId}
        GROUP BY curr.consumption_category
    </select>

    <!-- 오늘의 소비 -->
    <select id="getTodayConsumption" resultType="double">
        SELECT IFNULL(SUM(amount), 0)
        FROM Summaries_Cache
        WHERE period_type = 'daily'
          AND date = #{today}
          AND user_id = #{userId}
    </select>

    <!-- 오늘의 소비 카테고리별 비율-->
    <select id="getDailyCategorySummary" parameterType="map" resultType="com.wonnabe.asset.dto.CategorySummaryDTO">
        SELECT
            consumption_category AS consumptionCategory,
            SUM(amount) AS amount
        FROM Summaries_Cache
        WHERE period_type = 'daily'
          AND date = #{date}
          AND user_id = #{userId}
        GROUP BY consumption_category
    </select>
</mapper>
