<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonnabe.nowme.mapper.NowMeMapper">

    <insert id="insertDiagnosisHistory" parameterType="com.wonnabe.nowme.domain.DiagnosisHistoryVO">
        INSERT INTO diagnosis_history (
            user_id, persona_name, similarity_score,
            saving_score, spending_score, investing_score, insurance_score,
            created_at
        ) VALUES (
                     #{userId}, #{personaName}, #{similarityScore},
                     #{savingScore}, #{spendingScore}, #{investingScore}, #{insuranceScore},
                     NOW()
                 )
    </insert>

    <select id="findLatestDiagnosisTime" parameterType="string" resultType="string">
        SELECT created_at
        FROM diagnosis_history
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
        LIMIT 1
    </select>

    <select id="findAllPersonaVectors" resultType="com.wonnabe.nowme.domain.PersonaVector">
        SELECT
            name,
            saving_score,
            spending_score,
            investing_score,
            insurance_score
        FROM persona_vector
    </select>

</mapper>