<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonnabe.codef.mapper.AssetMapper">

    <insert id="upsert" parameterType="com.wonnabe.codef.domain.UserAccount">
        INSERT INTO User_Accounts (
        user_id,
        account_number,
        account_name,
        category,
        balance,
        last_updated,
        created_at,
        institution_code,
        bank_name
        ) VALUES (
        #{account.userId},
        #{account.accountNumber},
        #{account.accountName},
        #{account.category},
        #{account.accountBalance},
        NOW(),
        #{account.accountStartDate},
        #{account.institutionCode},
        #{account.bankName}
        )
        ON DUPLICATE KEY UPDATE
        balance = VALUES(balance),
        bank_name = VALUES(bank_name),
        last_updated = NOW()
    </insert>

    <select id="findBankName" parameterType="string" resultType="string">
        SELECT name
        FROM Institutions
        WHERE code = #{bankCode}
    </select>

</mapper>