<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonnabe.codef.mapper.CodefMapper">
    <select id="findByUserId" resultType="com.wonnabe.codef.domain.CodefAuthEntity">
        SELECT * FROM Codef_Auth
        WHERE user_id = #{userId}
    </select>

    <update id="updateAccessTokenAndConnectedId">
        UPDATE Codef_Auth
        SET access_token = #{accessToken},
            token_expires_at = #{expiresAt},
            connected_id = #{connectedId},
            updated_at = NOW()
        WHERE user_id = #{userId}
          AND institution_code = #{institutionCode}
    </update>

</mapper>
