<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonnabe.codef.mapper.CodefMapper">

    <!-- 특정 사용자 Codef_Auth 전체 조회 -->
    <select id="findByUserId" resultType="com.wonnabe.codef.domain.CodefAuth">
        SELECT * FROM Codef_Auth
        WHERE user_id = #{userId}
    </select>

    <!-- 사용자+기관별 access_token/connected_id/만료시간 갱신 -->
    <update id="updateAccessTokenAndConnectedId">
        UPDATE Codef_Auth
        SET access_token = #{accessToken},
            token_expires_at = #{expiresAt},
            connected_id = #{connectedId},
            updated_at = NOW()
        WHERE user_id = #{userId}
          AND institution_code = #{institutionCode}
    </update>

    <!-- 활성화된(Codef_API.is_active=1) 사용자 API 호출 파라미터 목록 조회(조인) -->
    <select id="getApiParamsByUserId" parameterType="string" resultType="com.wonnabe.codef.dto.auth.CodefAuthParam">
        SELECT
            b.id,
            b.user_id,
            b.institution_code,
            b.birth_date,
            b.account,
            b.account_password,
            b.card_no,
            b.card_password,
            b.card_name,
            b.duplicate_card_idx,
            b.start_date,
            b.end_date,
            b.order_by,
            b.inquiry_type,
            b.member_store_info_type,
            b.withdraw_account_no,
            b.withdraw_account_password,
            b.sub_account_id,
            b.sub_account_password,
            b.inquiry_purpose,
            b.endpoint,
            a.access_token,
            a.connected_id
        FROM Codef_Auth a
                 JOIN Codef_API b
                      ON a.institution_code = b.institution_code AND a.user_id = b.user_id
        WHERE a.user_id = #{userId}
          AND b.is_active = 1
    </select>

    <!-- 사용자+기관 단일 인증정보 조회 -->
    <select id="getAuthByUserAndInstitution" resultType="com.wonnabe.codef.dto.auth.CodefAuthParam">
        SELECT * FROM Codef_Auth
        WHERE user_id = #{userId} AND institution_code = #{institutionCode}
    </select>

</mapper>
