<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- DB 컬럼명이 스네이크 케이스일 때, 카멜케이스로 매핑 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- VO/도메인 클래스 별칭 등록 -->
    <typeAliases>
        <!-- 약칭 사용할 수 있게 설정 -->
        <package name="com.wonnabe.product.domain" />
        <package name="com.wonnabe.product.dto" />
        <package name="com.wonnabe.asset.domain"/>
    </typeAliases>

    <!-- Mapper XML 파일 경로 등록 (asset/mapper 경로로 수정) -->
    <mappers>
        <mapper resource="com/wonnabe/asset/mapper/SummariesCacheMapper.xml"/>
    </mappers>
</configuration>
