<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeAliases>
        <!-- 약칭 사용할 수 있게 설정 -->
        <package name="com.wonnabe.product.domain" />
        <package name="com.wonnabe.product.dto" />
    </typeAliases>
</configuration>