<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonnabe.product.mapper.ProductMapper">
    <select id="findSavingProductById" resultType="com.wonnabe.product.domain.SavingsProductVO">
        SELECT * FROM SAVINGS_PRODUCT WHERE PRODUCT_ID = #{productId}
    </select>

    <select id="findBasicUserInfoById" resultType="com.wonnabe.product.dto.BasicUserInfo">
        SELECT
            user_id,
            favorite_products_by_type,
            nowme_id
        FROM user_info
        WHERE user_id = #{userId}
    </select>

    <select id="findInsuranceProductById" parameterType="String" resultType="com.wonnabe.product.domain.InsuranceProductVO">
        SELECT
            product_id,
            provider_name,
            product_name,
            min_age,
            max_age,
            female_premium,
            male_premium,
            score_price_competitiveness,
            score_coverage_limit,
            score_coverage_scope,
            score_deductible_level,
            score_refund_scope,
            coverage_type,
            coverage_limit,
            my_money,
            coverage_desc,
            note
        FROM insurance_product
        WHERE product_id = #{productId}
    </select>
</mapper>
